[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
numpy = "*"
neovim = "*"
xarray = "*"
matplotlib = "*"
cython = "*"
"netcdf4" = "*"
scipy = "*"
"h5py" = "*"
proj = "*"
seaborn = "*"
palettable = "*"
rtree = "*"
dask = "*"
tables = "*"
scikit-learn = "*"
hdbscan = "*"
vispy = "*"
"pyqt5" = "*"
pyopengl = "*"
jupyter = "*"
bokeh = "*"
numba = "*"
datashader = "*"
pyviz = "*"
holoviews = "*"
notedown = "*"
pyarrow = "*"
gdal = "*"
geoviews = "*"

[dev-packages]

[requires]
python_version = "3.6"
